#welcome
    background-image: url("https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg")
    background-position: center center
    background-size: cover
    .box
        height: 700px
        display: flex
        align-items: center
        justify-content: center
        .textbox
            h2
                font-size: 50px
                margin-bottom: 20px
                color: #f5f4f4
            h1
                font-size: 90px
                font-weight: 700
                margin-bottom: 50px
                color: #ffffff
            .btn
                font-size: 20px
                background-color: #ffc800
                padding: 18px 40px
                color: #ffffff
                font-weight: 700
                h3
                    cursor: pointer
                &:hover
                    background-color: #d9aa00
    @media screen and ( max-width: 992px )
        .box
            .textbox
                h2
                    font-size: 45px
                h1
                    font-size: 80px
    @media screen and ( max-width: 768px )
        .box
            .textbox
                h2
                    font-size: 30px
                h1
                    font-size: 70px
